DATABASE_URL="postgresql://postgres:postgres@localhost:5432/db_aruskas?schema=public"
AUTH_PASSWORD="ganti-password-kuat"
AUTH_SECRET="ganti-dengan-random-min-16-karakter"
PORT="3000"
LOCAL_BOOTSTRAP_USERNAME="admin"
